.btn-help, .btn-help:active, .btn-help:hover, .btn-save, .btn-save-sticky a, .icon:after, i {
    color: #fff
}

body, i {
    -webkit-font-smoothing: antialiased
}

.main .channels-selected__item .btn-cancel:focus, .main .channels-selected__item.disabled .btn-cancel:focus, .main .channels-selected__item.disabled input:focus, button:focus, input:focus {
    outline: 0
}

*, ::after, ::before {
    box-sizing: border-box
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0

}
.channels-icons > .icon{
    padding: 0 8px;
    margin: 8px 0;
}

.icon:not(.active):not(:hover) .color-element, .main .channels-icons > .icon:not(.active):not(:hover) .color-element {
    fill: #BDBDBD
}
.icon {
    border-radius: 50%;
    vertical-align: top;
    font-size: 0;
    position: relative
}

.icon:after, .icon:before {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    left: 50%
}
.icon.icon-sm svg{
    width: 50px;
    height: 50px;
}

.icon:after {
    text-align: center;
    content: "" attr(data-title) "";
    font-size: 11px;
    top: 0;
    transform: translate(-50%, calc(-100% - 6px));
    padding: 0 20px;
    line-height: 23px;
    min-width: 90px;
    white-space: nowrap;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    border-radius: 6px
}

.btn-save:after, .icon:before, .popover:after {
    content: ''
}

.icon:before {
    top: -8px;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    border-width: 10px 5px 0;
    border-style: solid;
    border-color: #333 transparent transparent
}

.icon.tooltip-show:after, .icon.tooltip-show:before, .icon:hover:not(.tooltip-show):after, .icon:hover:not(.tooltip-show):before {
    opacity: 1;
    pointer-events: auto
}

.icon .color-element {
    transition: all .2s
}

.icon.no-tooltip:after, .icon.no-tooltip:before {
    content: none !important
}

.icon.icon-sm svg {
    width: 50px;
    height: 50px
}

.icon.icon-md svg {
    width: 50px;
    height: 50px;
    cursor: move;
}

.icon.icon-xs svg {
    width: 30px;
    height: 30px
}

